/* 
---------------------------
Table Of Content:
---------------------------
1. Mobile First
---------------------------
    1-1 Fonts 
    1-2 General Style
    1-3 Logo Style 
    1-4 Image Style
    1-5 Text Style
    1-6 Button Style
---------------------------
2. Responsive
---------------------------
    2-1 Tablet Size
    2-2 Desktop Size
*/


/* --------------- 1-1 Fonts --------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap%27');

/* --------------- 1-2 General Style --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}


/* --------------- 1-3 Logo Style --------------- */

.logo {
    margin: 10px auto 3em 1em;
    width: 23%;
}


/* --------------- 1-4 Image Style --------------- */

.header-image {
    display: block;
    width: 100%;
    margin: 4em 0em 2em auto;
}


/* --------------- 1-5 Text Style --------------- */

.header-title {
    font-size: 39px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 5px;
    color: #17133c;
}

.header-paragraph {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    color: #17133c;
}

span {
    font-size: 32px;
}

.texts {
    margin-top: 40px;
}


/* --------------- 1-6 Button Style --------------- */

.start-btn {
    background: #17133c;
    display: block;
    color: #e2e2e2;
    font-size: 23px;
    margin: 22px auto 17px auto;
    border-radius: 15%;
    width: 150px;
    height: 53px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.start-btn:hover {
    background-color: #17133cdc;
}


/* --------------- 2-1 Tablet Size --------------- */

@media (min-width:768px) and (max-width:1023px) {
    .header-image {
        position: absolute;
        width: 55%;
        margin-left: 352px;
        margin-top: 89px;
    }
    .texts {
        position: absolute;
        font-size: 20px;
        width: 45%;
        margin: 190px 20px;
        background: none;
    }
    p {
        display: inline;
        margin-left: 8%;
    }
    .header-title {
        font-size: 35px;
    }
    .header-paragraph {
        font-size: 18px;
    }
    .start-btn {
        margin: 0 auto;
        padding: 0;
        width: 40%;
        height: 45px;
        font-size: 23px;
        line-height: 45px;
        text-align: center;
        margin-top: 15px;
    }
    .logo {
        display: inline;
        width: 8%;
        margin: 10px;
    }
}


/* --------------- 2-2 Desktop Size --------------- */

@media (min-width:1023px) {
    .header-image {
        position: absolute;
        width: 50%;
        margin-left: 700px;
        margin-top: 40px;
    }
    .texts {
        position: absolute;
        width: 40%;
        margin-top: 220px;
        margin-left: 90px;
    }
    .header-title {
        font-size: 65px;
    }
    .header-paragraph {
        font-size: 29px;
        margin-top: 15px;
    }
    .logo {
        display: inline;
        width: 6%;
        margin: 20px;
    }
    .start-btn {
        margin-top: 25px;
    }
}